// Green color

$color-android-green: #32de84;
$color-carlsberg-green:#17B169;
$color-go-green:#00AB66;
$color-john-deere-green:#367c2b;
$color-heineken-green:#008200;
$color-lacoste-green:#004526;
$color-starbucks-green:#006241;
$color-whole-foods-green:#00674b;

$color-forest-green-1: #8DC48D;
$color-forest-green-2: #71B571;
$color-forest-green-3: #4EA24E;
$color-forest-green-4: #228B22;
$color-forest-green-5: #1B6F1B;
$color-forest-green-6: #165916;
$color-forest-green-7: #124712;
$color-forest-green-8: #0E390E;

// Red color

$color-coke-red:#F40009;
$color-pinterest-red:#e60023;
$color-virgin-lust-red:#cc0000;
$color-target-red:#e4181e;
$color-youtube-red:#FF0000;

// volcano color

$color-volcano-1:#B77176;
$color-volcano-2:#AB5960;
$color-volcano-3:#954B51;
$color-volcano-4:#7D3F44;
$color-volcano-5:#663337;
$color-volcano-6:#4F282B;

// Blue color

$color-twitter-blue:#1da1f2;
$color-intel-blue:#0071c5;
$color-facebook-blue:#1877F2;
$color-dell-blue:#0076CE;
$color-lowes-blue:#004792;
$color-generol-motors-blue:#073980;
$color-boeing-blue:#0039a6;
$color-ibm-blue:#0530ad;
$color-visa-blue:#1a1f71;

$color-alice-blue:#e4f1fe;
$color-skyblue: #87ceeb;
$color-skyblue-dark: #48b4e0;

// rock color

$color-rock-1:#D4D1CD;
$color-rock-2:#C9C5C1;
$color-rock-3:#BBB6B1;
$color-rock-4:#AAA49D;
$color-rock-5:#958D85;
$color-rock-6:#7B7167;

// Neutral color

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #151515;

$color-white: #fff;
$color-black: #000;


// FONTS
$default-font-size: 1.6rem;

