.header {
    height: 100vh;
    position: relative;

    &__logo-box {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    &__logo {
        height: 5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
}
