*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // cela défini la valeur de 1rem qui sera de 10px
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}